








.navbar {
 display: flex;
  padding: 10px;
 background-color: #61dafb;
 justify-content: space-between;
 
}
.navitem{
  padding-left: 20px;
  padding-right: 20px;
  color: black;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  
}
.navitem:hover{
  background-color: #46d2f9;
  font-size: larger;

}
